/* COLORS */
.white {color: white!important;}
.bg-white {background-color: white!important;}
.l-grey {color: #9f9f9f!important;}
.bg-l-grey {background-color: #9f9f9f!important;}
.m-grey {color: #414141!important;}
.bg-m-grey {background-color: #414141!important;}
.grey {color:  #191919!important;} 
.bg-grey {background-color: #191919!important;}
.d-grey {color: #0d0d0d!important;} 
.bg-d-grey {background-color: #0d0d0d!important;}
.green {color: #36c240!important;} 
.bg-green {background-color: #36c240!important;}


/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: min-content;
}

.divider {
    height: 2px;
}

a {
    font-weight: 500;
    font-size: 0.8rem;
}

a:hover {
    /* opacity: 0.8; */
}

/* NAVBAR */
nav a {
    text-decoration: none;
}

nav a:hover, .player-bar a:hover {
    text-decoration: underline;
    color: #00d856!important;
}

nav a ion-icon {
    font-size: 1.2rem;
}

/* NAVBAR MOBILE */
.mobile a ion-icon {
    font-size: 1.6rem;
}

.mobile a {
    font-size: 0.6rem;
    text-decoration: none;
}

/* MAIN */
input {
    font-size: 0.8rem;
}

/* PLAYER AUDIO */
.player-bar {
    height: 120px;
}
  
.player-bar a img {
    width: 14px;
}
  
.progress-container, .volume-container {
    height: 4.5px;
    border-radius: 2px;
    min-width: 90px;
}

.track-details a {
    text-decoration: none;
    line-height: 1rem;
}

.track-details .artist {
    font-weight: 400;
    font-size: 0.7rem;
}

.track-controls a {
    font-size: 1.1rem;
}

.control-container a {
    font-size: 1.2rem;
}

.control-container .play {
    font-size: 2.4rem;
    line-height: 3rem;
}
